.cs-sidenav-container {
  width: 100%;
  min-width: 100%;
  height: 100%;
  min-height: 100%;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #eee;
}
.cs-sidenav-content {
  display: flex;
  height: 100%;
  flex-direction: column;
  // align-items: center;
  //justify-content: center;
}
.cs-sidenav {
  width: 240px;
}
